*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color:lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position:relative;
    width: 100%;
    max-width:1000px;
    min-height:1000px;
    background-color: #f879dc;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(243, 238, 238,0.2);
}

.container .left{
    position: relative;
    background-color:#89cc87;
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(179, 173, 173);
}

.profileText .profileImg{
    position: relative;
    width: 200px;
    height:200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .profileImg img{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight:600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size:0.7em;
    font-weight: 300;
}

.Info{
    padding: 40px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}

.Info ul{
    position: relative;
}

.Info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.Info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color:#2e3333;
}

.Info ul li span{
    color:#fff;
    font-weight: 200;
}

.Info.Education li{
    margin-bottom: 15px;
}

.Info.Education h5{
    color: #2e3333;
    font-weight: 500;
}

.Info.Education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}

.Info.Education h4{
    color: #fff;
    font-weight: 300;
}

.Info.language .percent{
    position: relative;
    width:100%;
    height:6px;
    background-color:#f0f0f0;
    display: block;
    margin-top: 5px;
}

.Info.language .percent div{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #2e3333;
}

.container .right{
    position: relative;
    background-color:#fff;
    padding: 100px;
}

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0px;
}

.title2{
    color: #89cc87;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p{
   color: #333;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .Year_Company{
    min-width: 150px;
}

.about .box .Year_Company{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #2e3333;
    font-size: 16px;
}

.skills{
    text-transform:uppercase;
    color: #6c7072;
    font-weight: 600;
    margin-bottom: 50px;
}

.skills div{
    padding: 10px;
}

.icon{
    color: #2e3333;
    font-size:18px;
    width:35px; 
}

li{
    list-style-type:circle;
}

@media(max-width:1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}